.photo {
    width: 100px;
    height: 150px;
}

.description {
    text-align: justify;
}

p {
    margin: 10px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

img {
    width: 100%;
    height: 100%;
}

