div {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

li {
    list-style: none;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: blue;
}